/* CUSTOM STORY STYLE */


body{
  max-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}

p{
  margin:0px;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
}

.player-wrapper {
    position: fixed;
    top: 1rem;
    width: 150px;
    z-index: 100;
    background: white;
    box-shadow: -2px -3px 11px #00000036;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    right: 1rem;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#player {
    height: 200px;
    width: 267px;
    pointer-events: all;
}

.player-vid {
    height: 95px;
    width: 150px;
    position: relative;
}

.player-button {
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    cursor: hand;
    cursor: pointer;
}

.player-track-info {
    width: 1px;
    -webkit-flex-grow:1;
    flex-grow: 1;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    margin-top: 11px;
    display: none;
}

.player-track-info-track-wrapper {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
  }

.player-track-info-track {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}


.player-track-info-artist {
    font-size: 12px;
    font-weight: 500;
}

p.player-track-info-stats-local {}

.player-track-info-stats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    font-family: 'Open Sans';
    color: #757575;
    font-size: 11px;
    font-weight: 500;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.map-tool-tip {
    display: none;
    position: absolute;
    width: auto;
    background: white;
    z-index: 10000;
    border-radius: 3px;
    padding: .5rem;
    box-shadow: 0px 0px 8px 1px #0000004f;
    visibility: hidden;
}

.map-tool-tip-geo {
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    font-size: 11px;
    margin: 0px;
}

.marker {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 35px;
    z-index: 100000;
}

.mapboxgl-ctrl-bottom-left{
  bottom: auto;
  right: 12px;
  left: auto;
}

.music-marker-close {
    position: absolute;
    /* top: -208px; */
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    /* right: -118px; */
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
    line-height: 22px;
    font-weight: 400;
    color: white;
    visibility: hidden;
    position: absolute;
    right: 2px;
    width: 16px;
    text-align: center;
}

.player-elements{
  width: 267px;
  margin: 0 auto;
  /* margin-top: -44px; */
  position: absolute;
  top: 0px;
}



.music-marker-text {
    font-weight: 600;
    text-align: center;
    width: auto;
    right: 0px;
    margin: 0 auto;
    pointer-events: none;
    bottom: 0px;
    font-family: 'Atlas Grotesk Web';
    width: 257px;
    /* left: -116px; */
    top: 0px;
    color: white;
    text-align: left;
    font-size: 11px;
    height: 21px;
    line-height: 20px;
    /* background: black; */
    padding-left: 10px;
    font-weight: 400;
    visibility: hidden;
    position: absolute;
}

.top-toolbar {
    height: 42px;
    width: 100%;
    position: absolute;
    background: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 6px 2px #0000001a;
    pointer-events: all;
    visibility: hidden;

}

.top-toolbar-logo-wrapper {
    display: flex;
}

.top-toolbar-logo-text {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    font-weight: 500;
    align-self:center;
    margin-right: 10px;
    color: black;
}

.top-toolbar-logo-text a{
    text-decoration:underline;
}

.top-toolbar-title-text {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
}

.top-toolbar-title-text select{
    margin-left: 10px;
    background: white;
    font-size: 13px;
    border-radius: 3px;
    border-color: #aaa;
}
.top-toolbar-title
  display flex
  .top-toolbar-title-text
    align-self center

.top-toolbar-title-text-head {
    font-size: 14px;
    font-weight: 500;
}

.top-toolbar-title-text-date {
    color: #999;
    font-size: 10px;
    margin-left: 10px;
    letter-spacing: .7px;
}

.top-toolbar-logo-svg {
    padding-left: 18px;
    margin-top: 6px;
    display: none;
}

.top-toolbar-logo-svg svg {
    width: 25px;
    height: 32px;
}

.top-toolbar-search {
    margin-left: 10px;
    height: 25px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    display: none;
}

.top-toolbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-toolbar-logo-wrapper a {
    color: black;
    border:none;
}

#map {
  position:absolute;
  bottom:0;
  width: 100%;
  user-select:none;
  top:42px;
  height: calc(100% - 42px)
  outline:none;
}


#map
  @media (max-width: 450px)
    top:30px;
    height: calc(100% - 30px)


.mapboxgl-canvas{
  outline:none;
}

.tool-bar-right {
  background: #fff;
  position: fixed;
  width: 200px;
  z-index: 1000;
  box-shadow: -2px 0px 4px 0px #00000038;
  transition: right .2s;
  right: -171px;
  transform: translate(0,-50%);
  top: 50%;
}


.top-toolbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.top-toolbar-info {
    color: black;
    align-self: center;
    margin-left: 1rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.top-toolbar-info
  @media (max-width: 450px)
    margin-left 0

.top-toolbar-info p {
    color: #EB5757;
    text-transform: uppercase;
    font-family: 'Atlas Grotesk Web';
    font-size: 12px;
    text-decoration: none;
    padding-right: 14px;
    font-weight: 500;
    cursor: hand;
    cursor: pointer;
}


.artist-central-search-input {
    color: black;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    height: 24px;
    background: none;
    border: none;
    font-family: 'Atlas Grotesk Web';
    font-size: 11px;
    font-weight: 400;
    border-bottom: 1px solid #E0E0E0;
}

.top-toolbar-search-icon svg {
    margin-top: 7px;
    margin-left: 12px;
    margin-right: 10px;
}

.top-toolbar-volume svg {
    width: 33px;
    height: 28px;
    fill: black;
    stroke: black;
    opacity: .5;
    margin-top: 2px;
}

.audio-on {
    transform: translate(10px,0px);
}

.audio-off {
    display: none;
}

.top-toolbar-volume {
    margin-right: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 25px;
    margin-top: 9px;
    padding-left: 10px;
    padding-right: 7px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

.top-toolbar-song-info {
    border-left: 2px solid #EBEBEB;
    height: 25px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-left: 1rem;
    align-self:center;
    display:none;
}

.top-toolbar-song-pause-play svg {
    width: 25px;
    height: 33px;
    margin-top: -1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.top-toolbar-song-pause-play {
    opacity: .4;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    cursor: hand;
}

.player-paused {
    display: none;
}


.top-toolbar-song-wrapper {
    font-family: 'Atlas Grotesk Web';
    font-size: 11px;
    margin-left: 7px;
}

.top-toolbar-song-title {
    font-weight: 500;
    margin-top: -1px;
    max-height: 16px;
    font-size: 12px;
}

.top-toolbar-song-artist {
    font-size: 10px;
    margin-top: -1px;
}

.tool-bar-right-title-vert {
    /* margin-left: 30px; */
    font-family: 'Atlas Grotesk Web';
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #333;
    position: absolute;
    left: -10px;
    top: 25px;
    /* -webkit-font-smoothing: antialiased; */
}

.tool-bar-right-title-horz {
    margin-left: 30px;
    font-family: 'atlas grotesk web';
    font-size: 12px;
    width: 121px;
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 7px;
    color: #3a3a3a;
}

.tool-bar-right-songs-song-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: black;
    border: 1px solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tool-bar-right-songs-song-text {
    font-family: 'Atlas Grotesk Web';
    font-size: 12px;
    margin-top: -2px;
    margin-left: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tool-bar-right-songs-song-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 189px;
    margin-bottom: 0px;
    padding-left: 11px;
    cursor: hand;
    cursor: pointer;
    line-height: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.tool-bar-right-songs {
    margin-top: 16px;
}

.song-filter {
    position: absolute;
    top: 0px;
    display: none;
    right: 91px;
    margin: 0 auto;
    width: 203px;
    height: 33px;
    transform: translate(0,42px);
    background: black;
    z-index: 100;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: transform .2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    cursor: hand;
    visibility: hidden;
}

.song-filter-content {
    color: white;
    font-family: 'Atlas Grotesk Web';
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.song-filter-text {
    font-size: 11px;
    font-weight: 400;
    margin-top: 8px;
}

.song-filter-box {
  margin-top: 10px;
  pointer-events: none;
}

.muted .audio-on {
    display: none;
}

.muted .audio-off {
    display: block;
}

.top-toolbar-search-box-results {
    position: absolute;
    top: 32px;
    left: 22px;
    background: white;
    height: auto;
    width: 189px;
    padding: .5rem 1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 6px 4px 1px #00000014;
    display: none;
}

.paused .player-play {
    display: none;
}

.paused .player-paused {
    display: block;
}

.tool-bar-right-songs-song-wrapper:hover {
    background: #b5b5b5;
}

.top-toolbar-search-box-results-result {
    font-family: 'Atlas Grotesk Web';
    font-size: 12px;
    line-height: 19px;
    cursor: pointer;
    cursor: hand;
}

.top-toolbar-search-box-results-result:hover {
    text-decoration: underline;
}

.right-song-selected {
    background: #b5b5b5;
}

.right-song-selected:before {
    content: "Filtering for";
    position: absolute;
    left: -98px;
    font-family: 'Atlas Grotesk Web';
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 21px;
    top: 0px;
    background: #b5b5b5;
    padding-left: 8px;
    color: white;
}


.map-tool-tip-geo span {
  font-weight: 500;
}


.info-modal {
    position: fixed;
    z-index: 1000000;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: 'Atlas Grotesk Web';
    display: none;
}

.info-modal-source {
    margin: 0 auto;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 3vh;
    width:90%;
    max-width: 400px;
}

.info-modal-icons {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    width:90%;
    max-width: 300px;
}

.info-modal-close {
    position: absolute;
    top: 2rem;
    right: 0px;
    padding: 2rem;
    font-size: 52px;
    cursor: pointer;
    cursor: hand;
    z-index: 1000000;
    line-height: 0;
    padding-top: 0;
}


.info-modal-visible {
    display: block;
}

.start-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 102, 255, 0.79);
    z-index: 1000000;
    pointer-events: all;
}

.start-button {
    min-width:100px;
    background: white;
    height: 51px;
    border-radius: 5px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    margin-top: 70px;
    position: relative;
    pointer-events: all;
    cursor: pointer;
    cursor: hand;
    pointer-events: none;
    padding: 0 1rem;
    display:inline-table;
}

.start-button-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.start-button-play-icon svg {
  position: absolute;
}

.start-button-play-text {
    font-family: 'Atlas Grotesk Web';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    line-height: 49px;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    text-align: center;
}

.start-button-note {
    position: absolute;
    bottom: -26px;
    font-family: 'Atlas Grotesk Web';
    font-size: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    left:50%;
    width: 140px;
    font-weight: 600;
    font-size: 11px;
    transform: translate(-50%,0);
}

.start-button-play-icon {
    width: 50px;
    height: 36px;
    pointer-events: none;
    display: none;
    margin-right: 3px;
    position:relative;
}

.start-modal-logo-svg svg {
    fill: white;
    width: 150px;
    margin-right: 25px;
}

.start-modal-logo-svg {
    display: flex;
}

.start-modal-logo-svg a
  border none

.start-modal-wrapper {
    max-width: 728px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 0px;right: 0px;
    transform: translate(0,-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.start-modal-logo-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.start-modal-logo-row p {
    font-family: 'Atlas Grotesk Web';
    font-size: 12px;
    font-weight: 600;
    color: white;
    letter-spacing: 1.5px;
    line-height: 17px;
    align-self: center;
}

.start-modal-title-row {
    font-size: 92px;
    font-family: 'Atlas Grotesk Web';
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    font-weight:100;
}





.start-modal-subtitle-row {
    text-align: right;
    font-family: 'Atlas Grotesk Web';
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: 420px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    padding-right: 19px;
}

.pudding-link{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 10vh;
    border:none;
}

.pudding-link svg{
}

.about {
    margin-top: 60px;
}

.about__tagline {
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
    margin: 0 auto;
    width:90%;
    max-width: 300px;

}

.x-small {
    font-size: 14px;
    line-height: 1.5;
}

.about__tagline p {
    margin: 0;
}

.about__support {
    max-width: 30rem;
    margin: 1rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 30rem){
  .about__support {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.about .support__item p:first-child {
    margin-bottom: 1em;
}

.about__support p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #484848;
}

.xx-small {
    font-size: 12px;
    line-height: 1.5;
}

.subscribe__newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 28px;
}

.subscribe__newsletter .newsletter__input {
    display: block;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: .65rem;
    background-color: #fff;
    color: #484848;
    height: 10px;
    padding: .5rem;
    width: 9rem;
    -moz-background-size: 40px 171px;
    -o-background-size: 40px 171px;
    background-size: 35px 162px;
    background-image: url(https://pudding.cool/common/assets/misc/icon.png);
    background-position: right -43px;
    background-repeat: no-repeat;
    height:28px;
}

.subscribe__newsletter .newsletter__button {
    text-decoration: none;
    border: none;
    -webkit-appearance: none;
    outline: 0;
    margin-left: .5rem;
    font-size: .65rem;
    padding: 0 .75rem;
}

.btn--primary {
    background-color: #eb5757;
    color: #fff;
}

.btn {
    background-color: #ddd;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 3px;
    letter-spacing: .05em;
    text-transform: uppercase;
    padding: .5rem .75rem;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: 0;
}

.about__support p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #484848;
}

.player-fixed {
    position: absolute;
    z-index: 10000;
    top: 100%;
    left: 0px;
    font-size:1rem;
    display: block;
    pointer-events: none;
    transform: translate(13px,calc(-100% - 11px));
    height: 200px;
}

.player-fixed-moved{
    transform: translate(-50%,calc(-100% - 34px));
}

.player-fixed-moved iframe{
}

.player-fixed-moved .music-marker-text{
  /* visibility: visible; */
  /* position: relative; */
}


.player-fixed-moved .player-elements{
}

.about .support__item p:first-child {
    margin-bottom: 1em;
    margin-top: 1rem;
}

.about__support p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #484848;
}

.support__patreon .btn {
    display: block;
    margin: 0 auto;
    width: 9rem;
    background-color: #2a2a2a;
    font-size: .65rem;
    line-height: 1.2;
    text-decoration: none;
    color:white;
}

.btn--dark {
    background-color: #2a2a2a;
    color: #fff;
}

.about__support {
    max-width: 30rem;
    margin: 1rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.btn--primary {
    background-color: #eb5757;
    color: #fff;
}

.subscribe__newsletter{
}

.support__subscribe .support__item {

}

.about__support div{}

@media (max-width:800px) {
  .top-toolbar-song-info{
    display: none;
  }

  .start-modal-title-row{
    font-size: 60px;
    text-align: center;
  }

  .start-modal-logo-row{
    -webkit-justify-content: center;
    justify-content: center;
  }

  .start-modal-subtitle-row{
    padding:0px;
    width: 100%;
    text-align: center;
  }

  .top-toolbar-volume{
    display: none;
  }

  .top-toolbar-search-box{
    width: 70px;
  }

}

@media (max-width:600px) {
  .top-toolbar-title-text-head{
    font-size: 12px;
  }
  .top-toolbar-title-text select{
    font-size: 12px;
  }
}

@media (max-width:450px) {
  .top-toolbar-info{
    padding-left:20px;
  }
  .mapboxgl-ctrl-top-left{
    top: 31px;
  }
  .mapboxgl-ctrl-bottom-left{
  }
  .player-fixed{
    width: 267px;
    transform: translate(0px,calc(-100% - 0px));
  }
  .player-elements{
    width: 100%;
    left: 0px;
    top: 0px;
    pointer-events: all;
    height: 22px;
  }
  .music-marker-text{
    width: auto;
    padding-left: 5px;
    left: 0px;
  }
  .player-fixed-moved{
      transform: translate(-50%,calc(-100% - 34px));
  }
  #player{
    width: 267px;
  }
  .about__support div{
  }
  .about__support {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .start-modal-subtitle-row{
    padding: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
  }
  .tool-bar-right{
    display:none;
  }
  .top-toolbar-search{
    margin: 0px;
    margin-top: 2px;
    margin-left: 2px;
  }
  .top-toolbar-right{
    position: fixed;
    bottom: 0px;
    background: white;
    height: 44px;
    right: 0px;
  }
   .mapboxgl-ctrl-attrib.mapboxgl-compact{
     display: none;
   }
  .top-toolbar-left{
  }
  .song-filter{
    display: none;
  }
  .top-toolbar-title{
    text-align: center;
    padding-right: 7px;
  }
  .top-toolbar{
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .top-toolbar-title-text-head{
    letter-spacing: 0px;
    text-transform: none;
  }

  .top-toolbar-title-text{
  }

  .top-toolbar-title-text select{
  }

  .start-button{
    margin-top:20px;
  }
  .top-toolbar-logo-wrapper{
    /* display: none; */

  }
  .top-toolbar-logo-text{
    font-size:12px;
  }
  .top-toolbar-logo-svg{
    margin-top: 0px;
    padding-left: 11px;
    padding-right: 10px;
  }
  .top-toolbar-search-icon svg{
    margin-left: 5px;
    margin-right: 8px;
  }
  .top-toolbar-search-box{
    width: 73px;
  }
  .top-toolbar-logo-svg svg{
    width: 21px;
  }
  .music-marker-close{
    font-weight: 600;
    font-size: 18px;
  }
}
.mapboxgl-ctrl-logo{
  border:none;
}

.start-modal-title-row
  @media (max-width: 600px)
    font-size 48px


html {
  height:100%;
}


@media (max-width:390px) {
  .top-toolbar-left {
    display:none;
  }
  .top-toolbar-title{
    padding:0;
  }
}
