<div class="start-modal">
  <div class="start-modal-wrapper">
    <div class="start-modal-logo-row">
      <div class="start-modal-logo-svg">
        <a href="/">
          <img inline src='pudding/wordmark_2.svg'>
        </a>
      </div>
      <p>PRESENTS</p>
    </div>
    <h1 class="start-modal-title-row">Music Borders
    </h1>
    <p class="start-modal-subtitle-row">We mapped last month’s #1 songs in 3,000 places. See where songs dominate across the globe.
    </p>
    <button class="start-button" tabindex="0">
      <div class="start-button-contents">
        <!-- <div class="start-button-play-icon">
          <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 82.76 103.45" x="0px" y="0px">
            <polygon class="player-play" points="60.3 40.75 31.94 57.13 31.94 24.37 60.3 40.75"/>
          </svg>
        </div> -->
        <div class="start-button-play-text">LOADING
        </div>
      </div>
      <!-- <p class="start-button-note">(YEA THERE’S AUDIO)
      </p> -->
    </button>
  </div>
</div>
<div class="info-modal">
  <a class="pudding-link" href="/">
    <img inline src='pudding/wordmark_2.svg'>
  </a>
  <p class="info-modal-source">All data is from YouTube.</p>
  <p class="info-modal-icons">Play Button icon is by James Keane. Volume Icons are by Tracy Tam.</p>
  <p class="info-modal-close">×</p>
  <div class="about">
		<div class="about__tagline tk-atlas">
			<p class="x-small">The Pudding explains ideas debated in culture with visual essays.</p>
		</div>
		<div class="about__support">
			<div class="support__subscribe support__item">
				<p class="subscribe__overline xx-small tk-atlas">Get the latest emailed to you.</p>
				<div class="subscribe__newsletter">
					<form action="https://poly-graph.us11.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="c70d3c0e372cde433143ffeab">
						<input type="hidden" name="id" value="9af100ac0f">
						<input class="newsletter__input" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="email@address">
						<div class="hidden-from-view" style="left:-10000px;position:absolute">
							<input type="text" name="b_c70d3c0e372cde433143ffeab_9af100ac0f" tabindex="-1" value="">
						</div>
						<input class="btn btn--primary newsletter__button tk-atlas" style="" type="submit" name="submit" value="JOIN">
					</form>
				</div>
			</div>
			<div class="support__patreon support__item tk-atlas">
				<p class="patreon__overline xx-small">Support us on Patreon.</p>
				<p class="patreon__content">
					<a onclick="trackOutboundLink('https://www.patreon.com/thepudding'); return false;" target="_blank" href="https://www.patreon.com/thepudding" class="btn btn--dark">Help fund us</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="player-fixed" role="video player">
</div>
<div class="tool-bar-right" role="filter toolbar">
  <div class="tool-bar-right-title">
    <p class="tool-bar-right-title-vert">Songs</p>
    <p class="tool-bar-right-title-horz">Top Songs by Global Views/Streams</p>
  </div>
  <div class="tool-bar-right-songs">
  </div>
</div>
<div class="song-filter">
  <div class="song-filter-content">
    <p class="song-filter-text">Show only This Song on Map</p>
    <input class="song-filter-box" type="checkbox">
  </div>
</div>
<div class="top-toolbar" role="header">
  <div class="top-toolbar-left">
    <div class="top-toolbar-logo-wrapper">
      <a href="/"><div class="top-toolbar-logo-svg">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="225.858px" height="254.917px" viewBox="0 0 225.858 254.917" enable-background="new 0 0 225.858 254.917" xml:space="preserve">
          <g id="left">
          	<g>
          		<defs>
          			<path id="SVGID_1_" d="M63.333,4.016L33.934,0.264l-30.601,30v1.57l8.035,1.572c9.951,1.832,11.965,8.637,11.965,56.031v106.304     c0,16.824,0.729,28.516-0.227,36.703L3.333,253.343v1.574c18-1.309,88.418-1.574,108.055-0.262l30.143-30l-78.197-8.25V4.016z"/>
          		</defs>
          		<use xlink:href="#SVGID_1_" overflow="visible" fill="#DDDCDC"/>
          		<clipPath id="SVGID_2_">
          			<use xlink:href="#SVGID_1_" overflow="visible"/>
          		</clipPath>
          		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="21.4277" y1="13.6758" x2="52.981" y2="45.229">
          			<stop offset="0" style="stop-color:#B4B4B5"/>
          			<stop offset="0.2766" style="stop-color:#B9B9B9"/>
          			<stop offset="0.6382" style="stop-color:#C7C7C7"/>
          			<stop offset="1" style="stop-color:#DDDCDC"/>
          		</linearGradient>
          		<polygon clip-path="url(#SVGID_2_)" fill="url(#SVGID_3_)" points="22.024,75.171 70.333,27.875 70.333,1.684 33.943,1.684     3.343,31.759   "/>
          	</g>
          	<g>
          		<defs>
          			<path id="SVGID_4_" d="M102.333,1.684h51.151l55.838,116.994l-30.845,30.524c-14.535,14.414-39.029,22.39-72.492,22.39     c-1.572,0-10.652,0.061-12.652-0.459v-3.223l31.98-30.445l5.127,0.918c1.371-7.875,0.893-17.478,0.893-29.044V92.057     c0-42.42-8-58.572-29-58.572V1.684z"/>
          		</defs>
          		<use xlink:href="#SVGID_4_" overflow="visible" fill="#DDDCDC"/>
          		<clipPath id="SVGID_5_">
          			<use xlink:href="#SVGID_4_" overflow="visible"/>
          		</clipPath>
          		<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="101.7988" y1="1.8984" x2="151.7466" y2="51.8462">
          			<stop offset="0" style="stop-color:#B4B4B5"/>
          			<stop offset="0.3938" style="stop-color:#B6B7B7"/>
          			<stop offset="0.6306" style="stop-color:#BEBDBD"/>
          			<stop offset="0.8252" style="stop-color:#CACAC9"/>
          			<stop offset="0.997" style="stop-color:#DCDCDB"/>
          			<stop offset="1" style="stop-color:#DDDCDC"/>
          		</linearGradient>
          		<polygon clip-path="url(#SVGID_5_)" fill="url(#SVGID_6_)" points="126.902,76.148 168.245,34.128 150.731,1.684 102.333,1.684     102.333,33.684   "/>
          	</g>
          </g>
          <g id="bottom">
          	<path fill="#B4B4B5" d="M155.552,137.831l-29.957,3.301l-31.864,30c2,0.52,10.881,0.52,12.453,0.52   c33.463,0,57.758-7.914,72.293-22.328l0.252,0.016l30.377-30.259L155.552,137.831z"/>
          	<path fill="#B4B4B5" d="M111.935,254.655l29.949-30l-78.153-8.25l-29.517,8.512l-29.787,30   C23.927,253.608,92.298,253.343,111.935,254.655z"/>
          </g>
          <g id="letter">
          	<path d="M56.189,165.741c0,47.395-3.142,54.199-13.092,56.031l-9.164,1.57v1.574c19.637-1.309,87.976-1.574,107.614-0.262v-1.832   l-11.781-1.574c-9.951-1.309-16.759-7.855-16.759-55.508V4.191c7.595-0.264,18.329-0.523,20.946-0.523   c20.684,0,29.588,15.969,29.588,58.389v17.281c0,42.416-8.904,58.649-29.064,58.649c-1.832,0-6.283,0-9.164-0.523v3.668   c3.145,0.52,9.949,0.52,11.52,0.52c59.961,0,89.025-25.396,89.025-68.075v-5.5C225.858,25.396,196.532,0,136.048,0   c-9.949,0-43.462,1.309-54.46,1.309c-9.426,0-36.919-0.26-47.654-1.045v1.57l9.164,1.572c9.95,1.832,13.092,8.637,13.092,56.031   V165.741"/>
          </g>
          <g id="highlight">
          	<path fill="#323232" d="M105.333,6.723v159.019c0,27.109,2.973,43.223,8.328,52.152c-3.314-0.035-7.25-0.059-10.941-0.078   c-5.319-8.945-7.387-25.043-7.387-52.074V7.016C99.333,6.928,101.333,6.828,105.333,6.723z M165.146,8.779   c23.789,8.15,42.188,26.227,42.188,59.297v5.5c0,19.711-5.592,34.965-18.697,45.336c-6.984,5.531-15.236,11.044-25.816,14.731   c15.289-2.539,27.556-7.456,36.743-14.731c13.104-10.371,19.771-25.625,19.771-45.336v-5.5   C219.333,30.254,193.536,14.469,165.146,8.779z"/>
          </g>
        </svg>
      </div></a>
      <p class="top-toolbar-logo-text">
      <a href="/">The Pudding</a> Presents: </p>
    </div>
    <div class="top-toolbar-search">
      <div class="top-toolbar-search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="13" viewBox="0 0 15 13" version="1.1">
          <g id="Canvas" transform="translate(-61 -381)">
          <g id="Group 3">
          <g id="Line 2">
          <use xlink:href="#path0_stroke" transform="matrix(0.763479 0.645833 -0.645833 0.763479 68.8007 389.217)" fill="#999999"/>
          </g>
          <g id="Ellipse 3">
          <mask id="mask0_outline_ins">
          <use xlink:href="#path1_fill" fill="white" transform="translate(61 381)"/>
          </mask>
          <g mask="url(#mask0_outline_ins)">
          <use xlink:href="#path2_stroke_2x" transform="translate(61 381)" fill="#999999"/>
          </g>
          </g>
          </g>
          </g>
          <defs>
            <path id="path0_stroke" d="M 0 -1.11022e-16L 7.07107 -1.11022e-16L 7.07107 -2L 0 -2L 0 -1.11022e-16Z"/>
            <path id="path1_fill" d="M 11 5.5C 11 8.53757 8.53757 11 5.5 11C 2.46243 11 0 8.53757 0 5.5C 0 2.46243 2.46243 0 5.5 0C 8.53757 0 11 2.46243 11 5.5Z"/>
            <path id="path2_stroke_2x" d="M 9 5.5C 9 7.433 7.433 9 5.5 9L 5.5 13C 9.64214 13 13 9.64214 13 5.5L 9 5.5ZM 5.5 9C 3.567 9 2 7.433 2 5.5L -2 5.5C -2 9.64214 1.35786 13 5.5 13L 5.5 9ZM 2 5.5C 2 3.567 3.567 2 5.5 2L 5.5 -2C 1.35786 -2 -2 1.35786 -2 5.5L 2 5.5ZM 5.5 2C 7.433 2 9 3.567 9 5.5L 13 5.5C 13 1.35786 9.64214 -2 5.5 -2L 5.5 2Z"/>
          </defs>
        </svg>
      </div>
      <div class="top-toolbar-search-box">
        <input class="artist-central-search-input" type="text" placeholder="Find a Place...">
        <div class="top-toolbar-search-box-results">
        </div>

      </div>

    </div>
  </div>
  <div class="top-toolbar-title">
    <p class="top-toolbar-title-text">
      <span class="top-toolbar-title-text-head">#1 Songs in 3,000 Cities</span>
      <select class="" name="">
        <option value="201801">Jan 2018</option>
        <option value="201806">June 2018</option>
        <option value="202102">Feb 2021</option>
        <option value="202103" selected>Mar 2021</option>

      </select>
    </p>
  </div>
  <div class="top-toolbar-right">
    <div class="top-toolbar-song-info">
      <div class="top-toolbar-song-pause-play">
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 82.76 103.45" x="0px" y="0px">
          <path class="cls-1" d="M50,90A40.38,40.38,0,1,1,90.38,49.63,40.43,40.43,0,0,1,50,90Zm0-75.76A35.38,35.38,0,1,0,85.38,49.63,35.42,35.42,0,0,0,50,14.25Z" transform="translate(-8.62 -8.25)"/>
          <polygon class="player-play" points="60.3 40.75 31.94 57.13 31.94 24.37 60.3 40.75"/>
          <rect class="player-paused" xmlns="http://www.w3.org/2000/svg" class="cls-2" x="29.04" y="23.17" width="7.54" height="36.42" rx="2" ry="2"/>
          <rect class="player-paused" xmlns="http://www.w3.org/2000/svg" class="cls-2" x="45.72" y="23.17" width="7.54" height="36.42" rx="2" ry="2"/>
        </svg>
      </div>
      <div class="top-toolbar-song-wrapper">
        <p class="top-toolbar-song-title">Gucci Gang
        </p>
        <p class="top-toolbar-song-artist">Lil Pump
        </p>
      </div>
    </div>
    <div class="top-toolbar-volume">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <path class="audio-on" d="M66.8,14.7c-2.6-0.6-3.7,3.4-1.1,4c14.3,3.2,25,15.7,25,30.5c0,14.7-10.5,27.1-24.6,30.5c-2.6,0.6-1.5,4.6,1.1,4  c16-3.7,27.6-17.9,27.7-34.5C94.8,32.6,82.8,18.3,66.8,14.7z"/>
        <path class="audio-on" d="M65.5,61.5c-2.3,1.3-0.3,4.9,2.1,3.6c12.7-6.9,12.7-24.9,0-31.8c-2.3-1.3-4.4,2.3-2.1,3.6C75.5,42.4,75.5,56.1,65.5,61.5z"/>
        <path class="audio-off" xmlns="http://www.w3.org/2000/svg" d="M83.5,49.9c3.6-3.6,7.3-7.3,10.9-10.9c1.9-1.9-1-4.8-2.9-2.9c-3.6,3.6-7.3,7.3-10.9,10.9c-3.6-3.6-7.3-7.3-10.9-10.9  c-1.9-1.9-4.8,1-2.9,2.9c3.6,3.6,7.3,7.3,10.9,10.9c-3.6,3.6-7.3,7.3-10.9,10.9c-1.9,1.9,1,4.8,2.9,2.9c3.6-3.6,7.3-7.3,10.9-10.9  c3.6,3.6,7.3,7.3,10.9,10.9c1.9,1.9,4.8-1,2.9-2.9C90.8,57.2,87.1,53.5,83.5,49.9z"/>
        <path d="M53.5,15.1c-1.5-0.8-3.3-0.5-5,0.8L28.2,30.6c-1.9,1.3-5.5,2.5-7.8,2.5h-8.5c-1.9,0-3.6,0.7-5,2.1c-1.3,1.3-2,3.1-2,5  l0.1,18.3c0,3.9,3.2,7,7.1,7h8.2c2.3,0,5.9,1.2,7.8,2.5l20.3,14.7c1.1,0.8,2.2,1.2,3.2,1.2c0.6,0,1.2-0.1,1.8-0.4  c1.5-0.8,2.3-2.4,2.3-4.5V19.6C55.8,17.5,55,15.9,53.5,15.1z M12.2,61.4c-1.6,0-2.9-1.3-2.9-2.9L9.1,40.1c0-0.8,0.3-1.5,0.8-2  c0.5-0.5,1.3-0.8,2-0.8h8.5c0.8,0,1.8-0.1,2.8-0.3v24.7c-1-0.2-1.9-0.3-2.8-0.3H12.2z M51.7,79c0,0.4,0,0.6-0.1,0.7  c-0.1,0-0.4-0.1-0.7-0.4L30.6,64.7c-0.9-0.7-2.1-1.3-3.3-1.8V35.7c1.2-0.5,2.4-1.1,3.3-1.8L51,19.2c0.3-0.2,0.5-0.3,0.7-0.4  c0,0.1,0.1,0.4,0.1,0.7V79z"/>
      </svg>
    </div>
    <div class="top-toolbar-info">
      <p>Info</p>
    </div>
  </div>
</div>
<div id='map' role="main"></div>
<div class="map-tool-tip">
  <p class="map-tool-tip-geo"></p>
</div>
<div id="music-marker">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="41" viewBox="0 0 28 41" version="1.1">
  <g id="Canvas" transform="translate(-7865 -541)">
  <g id="Group">
  <g id="Group">
  <g id="Group">
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path0_fill" transform="translate(7869.84 571.364)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path0_fill" transform="translate(7869.84 571.364)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path1_fill" transform="translate(7870.84 571.841)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path2_fill" transform="translate(7871.84 572.318)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path3_fill" transform="translate(7872.84 572.796)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path4_fill" transform="translate(7873.84 573.273)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path5_fill" transform="translate(7874.84 573.75)"/>
  </g>
  <g id="Vector" opacity="0.04">
  <use xlink:href="#path6_fill" transform="translate(7875.84 574.227)"/>
  </g>
  </g>
  <g id="Group">
  <g id="Vector">
  <use xlink:href="#path7_fill" transform="translate(7865.84 541.813)"/>
  </g>
  </g>
  <g id="Group" opacity="0.25">
  <g id="Vector" opacity="0.25">
  <use xlink:href="#path8_fill" transform="translate(7865.84 542.813)"/>
  </g>
  </g>
  <g id="Group">
  <g id="Vector" opacity="0.25">
  <use xlink:href="#path9_fill" transform="translate(7870.84 545.813)"/>
  </g>
  <g id="Vector">
  <use xlink:href="#path9_fill" transform="translate(7870.84 545.813)" fill="#FFFFFF"/>
  </g>
  <g id="Vector">
  <use xlink:href="#path10_fill" transform="translate(7874 550)" fill="#050505"/>
  </g>
  </g>
  </g>
  </g>
  </g>
  <defs>
  <path id="path0_fill" d="M 10.5 10.5C 16.299 10.5 21 8.14953 21 5.25002C 21 2.35052 16.299 0 10.5 0C 4.70101 0 0 2.35052 0 5.25002C 0 8.14953 4.70101 10.5 10.5 10.5Z"/>
  <path id="path1_fill" d="M 9.5 9.5455C 14.7467 9.5455 19 7.40867 19 4.77275C 19 2.13683 14.7467 0 9.5 0C 4.25329 0 0 2.13683 0 4.77275C 0 7.40867 4.25329 9.5455 9.5 9.5455Z"/>
  <path id="path2_fill" d="M 8.5 8.591C 13.1944 8.591 17 6.66784 17 4.2955C 17 1.92316 13.1944 0 8.5 0C 3.80558 0 0 1.92316 0 4.2955C 0 6.66784 3.80558 8.591 8.5 8.591Z"/>
  <path id="path3_fill" d="M 7.5 7.63645C 11.6421 7.63645 15 5.92697 15 3.81822C 15 1.70948 11.6421 0 7.5 0C 3.35786 0 0 1.70948 0 3.81822C 0 5.92697 3.35786 7.63645 7.5 7.63645Z"/>
  <path id="path4_fill" d="M 6.5 6.68189C 10.0899 6.68189 13 5.1861 13 3.34095C 13 1.49579 10.0899 0 6.5 0C 2.91015 0 0 1.49579 0 3.34095C 0 5.1861 2.91015 6.68189 6.5 6.68189Z"/>
  <path id="path5_fill" d="M 5.5 5.72734C 8.53757 5.72734 11 4.44523 11 2.86367C 11 1.28211 8.53757 0 5.5 0C 2.46243 0 0 1.28211 0 2.86367C 0 4.44523 2.46243 5.72734 5.5 5.72734Z"/>
  <path id="path6_fill" d="M 4.5 4.77274C 6.98528 4.77274 9 3.70432 9 2.38637C 9 1.06841 6.98528 0 4.5 0C 2.01472 0 0 1.06841 0 2.38637C 0 3.70432 2.01472 4.77274 4.5 4.77274Z"/>
  <path id="path7_fill" d="M 27 13.5C 27 19.0746 20.25 27 14.75 34.5C 14.0167 35.5 12.9833 35.5 12.25 34.5C 6.75 27 0 19.2226 0 13.5C 0 6.04416 6.04416 0 13.5 0C 20.9558 0 27 6.04416 27 13.5Z"/>
  <path id="path8_fill" d="M 13.5 0C 6.04416 0 0 6.04416 0 13.5C 0 19.2226 6.75 27 12.25 34.5C 13 35.5227 14.0167 35.5 14.75 34.5C 20.25 27 27 19.0746 27 13.5C 27 6.04416 20.9558 0 13.5 0ZM 13.5 1C 20.4154 1 26 6.5846 26 13.5C 26 15.8987 24.4956 19.1814 22.2207 22.7383C 19.9458 26.2951 16.7051 30.1422 13.9434 33.9082C 13.7434 34.1808 13.6127 34.3227 13.5 34.4414C 13.3873 34.3227 13.2566 34.1808 13.0566 33.9082C 10.2845 30.128 7.41487 26.3142 5.01562 22.7734C 2.61638 19.2327 1 15.9535 1 13.5C 1 6.5846 6.5846 1 13.5 1Z"/>
  <path id="path9_fill" d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"/>
  <path id="path10_fill" d="M 9.92147 0.0501874C 9.87158 0.00963216 9.80506 -0.00770107 9.74142 0.00318773L 2.63437 1.18029C 2.52824 1.19785 2.45074 1.28629 2.45074 1.38995L 2.45074 6.65858C 2.32094 6.63769 2.18998 6.62703 2.05878 6.62703C 0.923548 6.62703 -8.81094e-09 7.3838 -8.81094e-09 8.31368C -8.81094e-09 9.24356 0.923548 10 2.05878 10C 3.19436 10 4.11814 9.24345 4.11837 8.31357L 4.11837 3.47638L 8.33237 2.77794L 8.33237 5.47959C 8.20291 5.4587 8.07206 5.44815 7.94087 5.44815C 6.80529 5.44815 5.88163 6.2047 5.88163 7.13469C 5.88163 8.06468 6.80529 8.82145 7.94087 8.82145C 9.07622 8.82145 10 8.06468 10 7.13469L 10 0.212853C 10.0001 0.150076 9.97136 0.0905204 9.92147 0.0501874Z"/>
  </defs>
  </svg>
</div>
